<% content_for :title, "New prequalification" %>

<h1>New prequalification</h1>

<%= render "form", prequalification: @prequalification %>

<br>

<div>
  <%= link_to "Back to prequalifications", prequalifications_path %>
</div>
