<% content_for :title, "New installment plan" %>

<h1>New installment plan</h1>

<%= render "form", installment_plan: @installment_plan %>

<br>

<div>
  <%= link_to "Back to installment plans", installment_plans_path %>
</div>
